* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;

}

body {
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    background: #ff8177;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px 30px 40px;
}

.wrapper h1 { 
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}


/* MAIN */

main{
    background-color: #fff;
}

.main__container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-self: center;
   margin: 0 auto;
   height: auto;
   background-color: #fff;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   padding-right: 50px;
   padding-left: 50px;
   
}

.main__content h2 {
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top,#b721ff 0% , #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-right: 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0% , #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    padding-right: 50px;
    padding-bottom: 30px;
}

.fas.fa-calculator{
    margin-right: 0.5rem;

}

.main__content {
    position: relative;
    text-align: justify;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    padding-bottom: 260px;
    
}

.main__content__2 {
    position: relative;
    text-align: justify;
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    padding-bottom: 260px;
    
}
